{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'Erreur d\'authentification.') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecter {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconection</a>
        </div>
    {% endif %}

    <h2>Connexion</h2>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Mots de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-outline-success btn-lg marge-haute" type="submit">
        <em class="fas fa-sign-in-alt"></em>
        Connection
    </button>
</form>
{% endblock %}
