{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>
        Inscription
    </h2>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <p>
        <a href="{{ path('contrat') }}">
            * : Pour consulter le contrat
        </a>
    </p>

    <button class="btn btn-outline-success btn-lg marge-haute">
        <em class="far fa-save"></em>
        Inscription
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}
