{% extends 'base.html.twig' %}

{% block body %}

    <h2>
        Derniers articles
    </h2>


    <div class="card-deck justify-content-center">
        {% for article in dernierArticle %}
            <a class="lien-sans-trait col-6" href="{{ path('article_show', {'slug': article.slug}) }}">
                <div class="card text-secondary article-card">
                    <div class="card-body">
                        <p class="card-title">
                            {{ article.titre }}
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <h2>
        Les articles les plus consulter
    </h2>


    <div class="card-deck justify-content-center">
        {% for article in plusVisterArticle %}
            <a class="lien-sans-trait col-6" href="{{ path('article_show', {'slug': article.slug}) }}">
                <div class="card text-secondary article-card">
                    <div class="card-body">
                        <p class="card-title">
                            {{ article.titre }}
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
