{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h2>
        Liste des utilisateurs
    </h2>

    <form method="POST">
        <div class="table-responsive">
            {{ knp_pagination_filter(pagination,{'email': 'email'}) }}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <th scope="row">
                            {{ user.id }}
                        </th>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if "ROLE_ADMIN" in user.roles %}
                                <button class="btn btn-outline-danger" type="submit"
                                        value="{{ user.id }}" name="idUser">
                                    <em class="far fa-minus-square"></em>
                                    Retrograder l'admin
                                </button>
                            {% else %}
                                <button class="btn btn-outline-success" type="submit"
                                        value="{{ user.id }}" name="idUser">
                                    <em class="far fa-plus-square"></em>
                                    Promouvoir en admin
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>
    <div class="row justify-content-center marge-haute">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
