<form method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <div class="form-group row justify-content-center">

            <select class="{{ fields|length <= 1? 'd-none' : 'form-control col-2 espace-bouton' }}" name="{{ filterFieldName }}">
                {% for field, label in fields %}
                    <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>

            <input class="form-control col-4 espace-bouton" type="text" placeholder="Email utilisateur" value="{{ selectedValue }}"
                   name="{{ filterValueName }}"/>

            <button class="btn btn-outline-secondary espace-bouton">
                <em class="fas fa-search"></em>
                {{ options.button }}
            </button>

        </div>
    </div>
</form>
