<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog NicoCau{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .avatar {
                max-width: 50px;
                max-height: 50px;
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/blog.css') }}" rel="stylesheet">
        <!-- Ajoute les favicones -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
        <link rel="icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/png">
        <link rel="icon" sizes="64x64" href="{{ asset('favicon-64.png') }}" type="image/png">
        <link rel="icon" sizes="96x96" href="{{ asset('favicon-96.png') }}" type="image/png">
    {% endblock %}
</head>
<body id="body">
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if not app.user %}
                    <a class="text-muted" href="{{ path('app_register') }}">Inscription</a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-sm btn-outline-info" href="{{ path('admin') }}">Panneau d'administration</a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <h1>
                    <a id="titre" class="blog-header-logo text-dark" href="{{ path('index') }}">
                        Blog NicoCau
                    </a>
                </h1>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if not app.user %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_login') }}">Connexion</a>
                {% else %}
                    <img class="mr-3 rounded avatar" src="{{ Gravatar.generate(app.user.email) }}">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_logout') }}">Déconnexion</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% for categorie in ElementGet.getCategories %}
                <a class="p-2 text-muted"
                   href="{{ path('categorie_show', {'nom': categorie.nom}) }}">{{ categorie.nom }}</a>
            {% endfor %}
        </nav>
    </div>
    <div class="core-page">
        {% block body %}

        {% endblock %}
    </div>
</div>
<footer class="blog-footer">
    <p>
        Blog NicoCau.
    </p>
    <p>
        <a href="#titre">
            Remonter en haut de la page
        </a>
    </p>
    <div class="row justify-content-center">
        <a href="{{ path('article_new') }}">
            <button class="btn btn-outline-success espace-bouton">
                <em class="far fa-plus-square"></em>
                Crée un nouvel article
            </button>
        </a>
        <a href="{{ path('categorie_new') }}">
            <button class="btn btn-outline-success espace-bouton">
                <em class="far fa-plus-square"></em>
                Crée une catégorie
            </button>
        </a>
    </div>
</footer>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c16dc7a2f0.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/blog.js') }}" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>