<form method="post" action="{{ path('categorie_delete', {'nom': categorie.nom}) }}"  {% if  app.environment != 'dev' %} onsubmit="return confirm('Etes vous sure de vouloir supprimer la catégorie ?');"{% else %} onsubmit="return true;"{% endif %}>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.nom) }}">
    <button class="btn btn-outline-danger btn-lg espace-bouton">
        <em class="far fa-minus-square"></em>
        Supprimer
    </button>
</form>
