{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="col btn btn-outline-success btn-lg espace-bouton center-block">
        <em class="far fa-plus-square"></em>
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
