{% extends 'base.html.twig' %}

{% block title %}Modifier : {{ categorie.nom }}{% endblock %}

{% block body %}
    <h2>
        Modifier : {{ categorie.nom }}
    </h2>

    {{ include('categorie/_form.html.twig', {'button_label': 'Valider'}) }}

    <div class="container marge-haute">
        <div class="row">
            <a href="{{ path('categorie_index') }}">
                <button type="button" class="btn btn-outline-secondary btn-lg espace-bouton">
                    <em class="far fa-caret-square-left"></em>
                    Retourner a la liste des catégorie
                </button>
            </a>
            {{ include('categorie/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
