{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h2>
        Categories
    </h2>
    <div>
        <div class="card-columns">
            {% for categorie in categories %}
                <a class="categorie-card" href="{{ path('categorie_show', {'nom': categorie.nom}) }}">
                    <div class="card text-secondary text-center">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">
                                {{ categorie.nom }}
                            </p>
                        </div>
                    </div>
                </a>
            {% else %}
                <div>
                    <p>Aucune catégorie trouver</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('categorie_new') }}">
            <button class="btn btn-outline-success btn-lg espace-bouton">
                <em class="far fa-plus-square"></em>
                Crée une catégorie
            </button>
        </a>
    {% endif %}
{% endblock %}
