{% extends 'base.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block body %}
    <h2>
        Crée une nouvelle categorie
    </h2>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">
        <button type="button" class="btn btn-outline-secondary btn-lg espace-bouton">
            <em class="far fa-caret-square-left"></em>
            Retour a la liste
        </button>
    </a>
{% endblock %}
