{% extends 'base.html.twig' %}

{% block title %}Categorie : {{ categorie.nom }}{% endblock %}

{% block body %}
    <h2>
        {{ categorie.nom }}
    </h2>


    <div>
        {% for article in pagination %}
            <div class="marge-haute">
                <a class="lien-sans-trait text-secondary" href="{{ path('article_show', {'slug': article.slug}) }}">
                    <div class="card border-secondary text-secondary">
                        <div class="card-header">
                            {{ article.titre }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ ConvetHTMLToString.convert(article.contenu,300) }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Ecrite le : {{ article.dateDeCreation ? article.dateDeCreation|date('Y-m-d') : '' }}
                                </small>
                            </p>
                            <a href="{{ path('categorie_show', {'nom': article.categorie}) }}"
                               class="badge badge-secondary">
                                {{ article.categorie }}
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <p colspan="6">
                    Aucun article trouver
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center marge-haute">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="container">
        <div class="row">
            <a href="{{ path('categorie_index') }}">
                <button type="button" class="btn btn-outline-secondary btn-lg espace-bouton">
                    <em class="far fa-caret-square-left"></em>
                    Retourner a la lister des catégories
                </button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('categorie_edit', {'nom': categorie.nom}) }}">
                    <button type="button" class="btn btn-outline-info btn-lg espace-bouton">
                        <em class="far fa-edit"></em>
                        Modifier
                    </button>
                </a>
                {{ include('categorie/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
