{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <h2>
        Contrat
    </h2>

    <div class="container">
        <div class="row">
            <p>
                Soit gentil pas méchant !!!
            </p>
        </div>

        <div class="row justify-content-center">
            <iframe src="https://www.youtube.com/embed/it90b3b6CwQ?autoplay=1"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
