{% extends 'base.html.twig' %}

{% block body %}
    <h2>
        404 La page web n'a pas été trouvée.
    </h2>

    <p>
        Vous pouver retourner a <a href="{{ path('index') }}">l'accueil</a>.
    </p>

{% endblock %}