{% extends 'base.html.twig' %}

{% block body %}
    <h2>
        500 Une erreur serveur est survenue.
    </h2>

    <p>
        Vous pouver retourner a <a href="{{ path('index') }}">l'accueil</a>.
    </p>

{% endblock %}