{% extends 'base.html.twig' %}

{% block body %}
    <h2>
        403 Vous n'étes pas autoriser a accéder a cette fonctionalité.
    </h2>

    <p>
        Vous pouver retourner a <a href="{{ path('index') }}">l'accueil</a>.
    </p>

{% endblock %}