<form method="post" action="{{ path('article_delete', {'slug': article.slug}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer l\'article ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-outline-danger btn-lg espace-bouton">
        <em class="far fa-minus-square"></em>
        Supprimer
    </button>
</form>
