{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.contenu) }}

<button class="col btn btn-outline-success btn-lg espace-bouton center-block">
    <em class="far fa-plus-square"></em>
    {{ button_label|default('Enregistrer') }}
</button>
{{ form_end(form) }}
