{% extends 'base.html.twig' %}

{% block title %}Edit : {{ article.titre }}{% endblock %}

{% block body %}
    <h2>
        Modifier : {{ article.titre }}
    </h2>

    {{ include('article/_form.html.twig', {'button_label': 'Valider'}) }}

    <div class="container marge-haute">
        <div class="row">
            <a href="{{ path('article_index') }}">
                <button type="button" class="btn btn-outline-secondary btn-lg espace-bouton">
                    <em class="far fa-caret-square-left"></em>
                    Retourner a la list des articles
                </button>
            </a>
            {{ include('article/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
