{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h2>
        Liste des articles
    </h2>

    <div>
        {% for article in pagination %}
            <div class="marge-haute">
                <a class="lien-sans-trait text-secondary" href="{{ path('article_show', {'slug': article.slug}) }}">
                    <div class="card border-secondary">
                        <div class="card-header text-secondary">
                            {{ article.titre }}
                        </div>
                        <div class="card-body text-secondary">
                            <p class="card-text">
                                {{ ConvetHTMLToString.convert(article.contenu,300) }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Ecrite le : {{ article.dateDeCreation ? article.dateDeCreation|date('Y-m-d') : '' }}
                                </small>
                            </p>
                            <a href="{{ path('categorie_show', {'nom': article.categorie}) }}"
                               class="badge badge-secondary">
                                {{ article.categorie }}
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <p colspan="6">
                    Aucun article trouver
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center marge-haute">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% if app.user %}
        <a class="row justify-content-center" href="{{ path('article_new') }}">
            <button class="btn btn-outline-success btn-lg espace-bouton">
                <em class="far fa-plus-square"></em>
                Crée un nouvel article
            </button>
        </a>
    {% endif %}
{% endblock %}
