{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h2>
        Crée un nouvel article
    </h2>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">
        <button type="button" class="btn btn-outline-secondary btn-lg espace-bouton">
            <em class="far fa-caret-square-left"></em>
            Retourner a la list des articles
        </button>
    </a>
{% endblock %}
