{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h2>{{ article.titre }}</h2>
            <p class="text-right">
                <span class="font-weight-bold">
                    Ecrit le :
                </span>
                {{ article.dateDeCreation ? article.dateDeCreation|date('d/m/Y') : '' }}
                <span>
                    par {{ article.user.email }}
                    <img class="mr-3 rounded avatar" src="{{ Gravatar.generate(article.user.email) }}">
                </span>
            </p>
        </div>
    </div>

    <div class="jumbotron jumbotron bg-white">
        {{ article.contenu|raw }}
    </div>

    <div class="container">
        <div class="row">
            <a href="{{ path('article_index') }}">
                <button type="button" class="btn btn-outline-secondary btn-lg espace-bouton">
                    <em class="far fa-caret-square-left"></em>
                    Retourner a la list des articles
                </button>
            </a>
            {% if is_granted('edit',article) %}
                <a href="{{ path('article_edit', {'slug': article.slug}) }}">
                    <button type="button" class="btn btn-outline-info btn-lg espace-bouton">
                        <em class="far fa-edit"></em>
                        Modifier
                    </button>
                </a>
                {{ include('article/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
